.jumbotron {
    color: black;    
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}

h5 {
    font-style: oblique;
}

#myMenu {
    font-family: Arial, Helvetica, sans-serif;
}

.weather-temp {
    border: 10px;
    color: black;
    font-size: large;
}

#mySearch {
    font-style: oblique;
}

.myButton {
    border: 5px, round;
    font: bold;
}